<h1><%=@carrier.name%></h1>
  <div>
    <%= link_to('Edit Carrier', edit_carrier_path)%>
  </div>

<% @plans.each do |plan|%>
  <h2><%=plan.name %></h2>
  <p>Data Amount: <%= plan.data_amount%></p>
  <p>Data Price: <%= number_to_currency(plan.data_price)%></p>

  <% plan.carrier_lines.each.with_index(1) do |line, index| %>
    <div><%= "Line-#{index}:" %> <%= number_to_currency(line.price) %></div>
  <%end%>
  <hr>
<% end %>