<h1><%=@carrier.name%></h1>
  <div>
    <%= link_to('Edit Carrier', edit_carrier_path)%>
  </div>

<% @plans.each do |plan|%>
  <h2><%=plan.name %></h2>

  <div><b>Data Price:</b> <%= number_to_currency(plan.data_price)%></div>
  <div><b>Data Amount:</b> <%= plan.data_gb%></div>
  <p>
  
  <div><b>HD Video:</b> <%= plan.hd_video%></div>
  <div><b>Hotspot:</b> <%= plan.hotspot_lte%></div>
  <div><b>Soft Cap:</b> <%= plan.soft_cap%></div>
  
  </p>

  <% plan.carrier_lines.each.with_index(1) do |line, index| %>
    <div><%= "Line-#{index}:" %> <%= number_to_currency(line.price, precision: 0) %></div>
  <%end%>
  <br>
  <b>Plan-Total: <%= number_to_currency(plan.carrier_lines.sum(:price) + plan.data_price, precision: 0)%></b>
  <hr>
<% end %>