<h1>Plan Recommendations</h1>

<h3><%= @tmo.name %></h3>

    <% @tmo_plan.qualified_plans.each do |plan| %>
      <div><%= plan.name %></div>
    <% end %>

    <br>
    
    <% @tmo_plan.hd_video.each.with_index(1) do |line, index|%>
      <p><%= "Line-#{index}"%>: <%= line.name %></p>
    <% end %>
<h3><%= @verizon.name %></h3>

<h3><%= @att.name %></h3>

<h3><%= @sprint.name %></h3>