<h1>Plan Recommendations</h1>

<h3><%= @tmo.name %></h3>

  <% @t.line_pricing.each.with_index(1) do |line, index| %>
  <p><%= "Line-#{index}"%>: <%= number_to_currency(line.price, precision: 0) %> - <%= @t.line_calculation[index-1].name%></p>
  <% end %>

  <p>Total: <%= number_to_currency(@t.final_plan_total, precision: 0) %></p>

<h3><%= @verizon.name %></h3>

  <p><%= @v.plan_name %></p>

  <p><%= "Data-Price: " if @v.data_price%><%= number_to_currency(@v.data_price, precision: 0) %></p>

  <% @v.line_pricing.each.with_index(1) do |line, index| %>
    <p>
    <%= "Line-#{index}"%>: <%= number_to_currency(line.price, precision: 0) %>

    <%= "- #{@v.unlimited_plan_name[index-1].name}" if @v.unlimited_plan_name%>
    </p>
  <% end %>

  <p>Total: <%= number_to_currency(@v.plan_total, precision: 0) %></p>

<h3><%= @att.name %></h3>

  <p><%= @a.plan_calculations.name %></p>
  <p>Data-Price : <%= number_to_currency(@a.plan_calculations.data_price, precision: 0) %></p>
  
    <% @a.line_pricing.each.with_index(1) do |line, index| %>
    <p><%= "Line-#{index}"%>: <%= number_to_currency(line.price, precision: 0) %></p>
    <% end %>

  <p>Total: <%= number_to_currency(@a.plan_total(@a.plan_calculations), precision: 0) %></p>

<h3><%= @sprint.name %></h3><p>

  <p><%= @s.plan_calculation.name %></p>

  <% @s.line_pricing.each.with_index(1) do |line, index|%>
    <p><%= "Line-#{index}"%>: <%= number_to_currency(line.price, precision: 0) %> </p>
  <% end %>

  <p>Total: <%= number_to_currency(@s.final_price) %></p>