<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <% @plan.errors.full_messages.each do |error| %>
      <%= alert_generator(error) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :auto_pay %>
    <%= f.select(
            :auto_pay, 
              options_for_select([
                ['Yes', true],
                ['No', false],
              ])
        ) %>
  </div>

  <div class="form-group">
    <%= f.label :senior_pricing %>
        <%= f.select(
            :senior_pricing, 
              options_for_select([
                ['Yes', true],
                ['No', false],
              ])
        ) %>
  </div>

  <div class="form-group">
    <%= f.label :military_pricing %>
        <%= f.select(
            :military_pricing, 
              options_for_select([
                ['Yes', true],
                ['No', false],
              ])
        ) %>
  </div>


  <ul>
    <%= f.fields_for :user_lines do |line_form| %>
    <li>
      <%= line_form.label :data_amount %>
      <%= line_form.text_field :data_amount %>
    </li>

    <li>
      <%= line_form.label :hotspot %>
      <%= line_form.number_field :hotspot %>
    </li>

    <li>
      <%= line_form.label :hd_video %>
      <%= line_form.select(
            :hd_video, 
              options_for_select([
                ['Yes', true],
                ['No', false],
              ])
        ) %>
    </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>