<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <% @plan.errors.full_messages.each do |error| %>
      <%= alert_generator(error) %>
    <% end %>
  <% end %>
      
  <div class="form-group">
    <div><%= f.label :auto_pay, "Carriers give discounts for enrolling in Auto-Pay, Do you want to enroll?"%></div>
    <span><%= f.radio_button :auto_pay, true, checked: true %> Yes</span>
    <span><%= f.radio_button :auto_pay, false %> No</span>
  </div>
  <br>
  <ul>
    <%= f.fields_for :user_lines do |line| %>
      <%= render 'user_line_fields', f: line %>
    <% end %>

    <div>
      <%= link_to_add_association 'Add Line', f, :user_lines %>
    </div>
  </ul>
  

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>