<li>
  <div><%= f.label :data_amount, "How much data do you need?" %></div>
    <span><%= f.radio_button :data_amount, 1 %> 1GB</span> |
    <span><%= f.radio_button :data_amount, 2 %> 2GB</span> |
    <span><%= f.radio_button :data_amount, 4 %> 4GB</span> |
    <span><%= f.radio_button :data_amount, 5 %> 5GB</span> |
    <span><%= f.radio_button :data_amount, 8 %> 8GB</span> |
    <span><%= f.radio_button :data_amount, 10 %> 10GB</span> |
    <span><%= f.radio_button :data_amount, 20 %> 20GB</span> |
    <span><%= f.radio_button :data_amount, Float::INFINITY %> Unlimited</span>
</li>
  <br>
<li>
  <div><%= f.label :hotspot, "Of your total data, about how much is hotspot use?" %></div>
    <span><%= f.radio_button :hotspot, 0 %> What's Hotspot?</span> |
    <span><%= f.radio_button :hotspot, 1 %> 1GB</span> |
    <span><%= f.radio_button :hotspot, 5 %> 5GB</span> |
    <span><%= f.radio_button :hotspot, 10 %> 10GB</span> |
    <span><%= f.radio_button :hotspot, 15 %> 15GB</span>
</li>
  <br>
<li>
  <div><%= f.label :hd_video, "Does this f need HD-Video?" %></div>
    <span><%= f.radio_button :hd_video, true, checked: true %> Yes</span> |
    <span><%= f.radio_button :hd_video, false %> No</span>
    
</li>