<div class="nested-fields">
<b><u>New Line</u></b>
<br>
<br>
<li>
  <div><%= f.label :data_amount, "How much data does this line need?" %></div>
    <span><%= f.radio_button :data_amount, 1.0 %> 1GB</span> |
    <span><%= f.radio_button :data_amount, 2.0 %> 2GB</span> |
    <span><%= f.radio_button :data_amount, 4.0 %> 4GB</span> |
    <span><%= f.radio_button :data_amount, 5.0 %> 5GB</span> |
    <span><%= f.radio_button :data_amount, 8.0 %> 8GB</span> |
    <span><%= f.radio_button :data_amount, 10.0 %> 10GB</span> |
    <span><%= f.radio_button :data_amount, 20.0 %> 20GB</span> |
    <span><%= f.radio_button :data_amount, Float::INFINITY %> Unlimited</span>
</li>
  <br>
<li>
  <div><%= f.label :hotspot, "Of that data, about how much is hotspot use?" %></div>
    <span><%= f.radio_button :hotspot, 0.0 %> None</span> |
    <span><%= f.radio_button :hotspot, 1.0 %> 1GB</span> |
    <span><%= f.radio_button :hotspot, 5.0 %> 5GB</span> |
    <span><%= f.radio_button :hotspot, 10.0 %> 10GB</span> |
    <span><%= f.radio_button :hotspot, 15.0 %> 15GB</span>
</li>
  <br>
<li>
  <div><%= f.label :hd_video, "Does this line need HD-Video?" %></div>
    <span><%= f.radio_button :hd_video, true, checked: true %> Yes</span> |
    <span><%= f.radio_button :hd_video, false %> No</span>
</li>
    <br>
    <p><%= link_to_remove_association 'Remove Line', f %></p>
    <hr>
</div>
