<h1>Results Page!</h1>

<h3>Your Plan needs</h3>
<div>
  <div>Lines Needed: <%= @quiz.line_quantity%></div>
  <div>Auto-Pay: <%= @quiz.auto_pay%></div>
  <div>Senior Discount: <%= @quiz.senior_pricing%></div>
  <div>Military Discount: <%= @quiz.military_pricing%></div>
  <div>Total Data: <%= @quiz.user_lines.sum(:data_amount) %></div>

  <br>

  <% @quiz.user_lines.each.with_index(1) do |line, index| %>
    <b><%= "Line-#{index}" %></b>
    <div>Data Needed: <%= line.data_amount %></div>
    <div>Required Hotspot: <%= line.hotspot %></div>
    <div>HD-Video: <%= line.hd_video %>
    <hr>
  <% end %>
</div>

<h1>Recommended Plans</h1>

<% @carriers.each do |carrier| %>
  <div>
    <h3><%= carrier.name %></h3>
    <% carrier.carrier_plans.each do |plan|%>
      <% if @quiz.user_lines.sum(:data_amount) <= plan.data_amount%>
        <div><%= plan.name %></div>
      <% end %>
    <% end %>
  </div>
  
<% end %>